@import "tailwindcss";

@theme {
  --font-heading: "Century Gothic", "Montserrat", sans-serif;
  --font-body: "Century Gothic", "Montserrat", sans-serif;
}

body {
  font-family: "Century Gothic", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #d97706;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
}
